{% extends 'organ/base.html' %}

{% block title %}О нас{% endblock %}

{% block body %}
{% load static %}
<main class="home">
    <div class="home__container">
        <h1 class="about__naming">Команда "Наггетсы и сырный соус"</h1>
        {% comment %} <a href="{% url 'dashboard' %}" class="back-button">Назад</a> {% endcomment %}

        <section class="about__team">
            <div class="about__team-member">
                <img src="{% static 'images/nigger-1.jpeg' %}" alt="Участник 1" class="about__team-photo">
                <h2 class="about__team-name">Иван Иванов</h2>
                <p class="about__team-role">Главный разработчик</p>
                <p class="about__team-description">Иван отвечает за архитектуру проекта и основную разработку.</p>
            </div>

            <div class="about__team-member">
                <img src="{% static 'images/nigger-2.jpg' %}" alt="Участник 2" class="about__team-photo">
                <h2 class="about__team-name">Мария Петрова</h2>
                <p class="about__team-role">Дизайнер интерфейсов</p>
                <p class="about__team-description">Мария создает удобные и красивые интерфейсы для наших пользователей.</p>
            </div>

            <div class="about__team-member">
                <img src="{% static 'images/nigger-3.jpg' %}" alt="Участник 3" class="about__team-photo">
                <h2 class="about__team-name">Алексей Смирнов</h2>
                <p class="about__team-role">Тестировщик</p>
                <p class="about__team-description">Алексей обеспечивает качество продукта, находя и устраняя баги.</p>
            </div>

            <div class="about__team-member">
                <img src="{% static 'images/nigger-4.jpg' %}" alt="Участник 3" class="about__team-photo">
                <h2 class="about__team-name">Алексей Смирнов</h2>
                <p class="about__team-role">Тестировщик</p>
                <p class="about__team-description">Алексей обеспечивает качество продукта, находя и устраняя баги.</p>
            </div>

            <div class="about__team-member">
                <img src="{% static 'images/nigger-5.jpg' %}" alt="Участник 3" class="about__team-photo">
                <h2 class="about__team-name">Алексей Смирнов</h2>
                <p class="about__team-role">Тестировщик</p>
                <p class="about__team-description">Алексей обеспечивает качество продукта, находя и устраняя баги.</p>
            </div>
        </section>

        <section class="about__mission">
            <h2 class="about__mission-title">Наша миссия</h2>
            <p class="about__mission-text">Мы стремимся создавать инновационные решения, которые делают жизнь наших пользователей проще и удобнее. Наша команда объединена общей страстью к технологиям и желанием делать мир лучше.</p>
        </section>
    </div>
</main>
{% endblock %}