{% extends 'organ/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
{% load static %}

<main class="home">
    <div class="home__container">
        <h1 class="home__title">Здравствуйте, {{ request.user.username }}</h1>

        <button type="button" class="home__button home__button--danger" id="deleteAccountButton">
            Удалить аккаунт
        </button>
        {% include 'organ/popup_confirm.html' %}
    </div>
</main>

<script src="{% static 'scripts/delete-acc.js' %}"></script>
{% endblock %}