<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>ВАУ</title>
</head>
<body>
    <h1><a href="{% url 'for_auth' %}">Список задач</a>.....<a href="{% url 'task_calendar' %}">Календарь задач</a>
        .....<a href="{% url 'faq_page' %}">FAQ</a></h1><br>
    <h2>Здравствуйте, {{ request.user.username }}</h2>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <!--<a href="{% url 'noauth' %}">перейти к странице для лошков</a><br><br>-->
    <button type="submit">Выйти</button>
</form>
</body>
</html>