{% extends 'organ/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
{% load static %}
<h1>Здравствуйте, {{ request.user.username }}</h1>
<div class="forauth-container">
    <h1>
        <a href="{% url 'tasks' %}">Список задач</a> • 
        <a href="{% url 'calendar' %}">Календарь задач</a> • 
        <a href="{% url 'about' %}">О нас</a>
    </h1>
</div>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
{% endblock %}