{% extends 'organ/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
{% load static %}
<main class="home">
    <section class="home__hero hero">
        <div class="hero__content">
            <p class="hero__text">
                Добро пожаловать на главную страницу! Это лучшее приложение для создания заметок и составления планов.
            </p>
            <div class="hero__buttons">
                <button 
                    type="button" 
                    class="hero__button hero__button--primary" 
                    onclick="location.href='{% url 'auth_login' %}'"
                >
                    Войти
                </button>
                <button 
                    type="button" 
                    class="hero__button hero__button--outline" 
                    onclick="location.href='{% url 'admin:index' %}'"
                >
                    Админам
                </button>
            </div>
        </div>
    </section>
</main>
{% endblock %}