{% extends 'organ/header.html' %}

{% block title %}
регистрация
{% endblock %}

{% block body %}
{% load static %}
    <h1>Регистрация</h1>
<form method="post">{% csrf_token %}
    <div class="form-register">
        {{ form.as_p }}
        <div class="register-container">
            <button type="submit" class="btn btn-register-primary">Зарегистрироваться</button>
        </div>
        <div class="link-container">
            <h4>Уже есть аккаунт?</h4>
            <a href="{% url 'login' %}">Зарегистрируйтесь</a>
        </div>
    </div>
</form>
<!--    <div class="form">-->
<!--    <form class="register-form">-->
<!--      <input type="text" placeholder="name"/>-->
<!--      <input type="password" placeholder="password"/>-->
<!--      <input type="text" placeholder="email address"/>-->
<!--      <button>create</button>-->
<!--      <p class="message">Already registered? <a href="#">Sign In</a></p>-->
<!--    </form>-->
<!--    <form class="login-form">-->
<!--      <input type="text" placeholder="E-mail"/>-->
<!--      <input type="password" placeholder="пароль"/>-->
<!--      <input type="checkbox" id="checkbox1"/>-->
<!--      <label for="checkbox1">вы точно не робот?</label>-->
<!--      <button>войти</button>-->
<!--      <p class="message">не зарегистрированы? <a href="#">Создать аккаунт</a></p>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}