{% extends 'organ/header.html' %}

{% block title %}
календарь задач
{% endblock %}

{% block body %}
{% load static %}


<!--тоже пришлось чуть-чуть не в свою область (css) залезть(((-->
<style>
table, th, td {
  border:1px solid black;
}
</style>


<body>
<h1>Скоро...</h1>
<h2>Сейчас здесь очень неаккуратно выводятся заметки всех пользователей</h2>
<br><br><br>

{% if tasks %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Номер задачи</th>
                        <th>ID пользователя</th>
                        <th>Задача</th>
                        <th>Описание</th>
                        <th>Статус</th>
                        <th>Дата создания</th>
                        <th>Дата завершения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.user_id }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.descriptionn }}</td>
                            <td>{{ task.statuss }}</td>
                            <td>{{ task.time_create }}</td>
                            <td>{{ task.time_finish }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">Задачи не найдены</div>
        {% endif %}

<br><br><br>
    <a href="{% url 'for_auth' %}">Назад</a>
</body>
{% endblock %}