{% extends 'organ/header.html' %}

{% block title %}
календарь задач
{% endblock %}

{% block body %}
{% load static %}
<body>
<h1>Скоро...</h1>
<br><br><br>

{% if tasks %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ХЗ</th>
                        <th>ХЗ</th>
                        <th>ХЗ</th>
                        <th>ХЗ</th>
                        <th>ХЗ</th>
                        <th>ХЗ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.userID }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.descriptionn }}</td>
                            <td>{{ task.statuss }}</td>
                            <td>{{ task.time_create }}</td>
                            <td>{{ task.time_finish }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">Товары не найдены</div>
        {% endif %}

<br><br><br>
    <a href="{% url 'for_auth' %}">Назад</a>
</body>
{% endblock %}