@import url(https://fonts.googleapis.com/css?family=Roboto:300);

/*основные стили*/
body {
    font-family: Arial, sans-serif;
    background-color: #f7f5e5; /* Светлый фон */
    margin: 0;
    padding: 0;
    overflow: auto;
}
.container {
    margin-left: 10px;
    max-width: 1500px; /* Максимальная ширина контейнера */
    margin: 0 left; /* Центрирование контейнера */
    padding: 5px;
}



/*стили шапки */
.top{
    width: 100 vw;
    height: 100 vh;
    background-color: #DDA15E;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}
.header{
 width: 80%;
 height: 70px;
 background-color: #DDA15E;
 display: flex;
 justify-content: center;
}
.menu {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
.home{
    height: 50 px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task_list{
    height: 50 px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task_calendar{
    height: 50 px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donuts{
    height: 50 px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FAQ{
    height: 50 px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-enter{
    font-size: 40px;
    color: #ffffff;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-logo{
    font-size: 40px;
    color: #ffffff;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
.enter{
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0px;
    position: absolute;
    right: 20px;
    top: 10px;
}
.span{
    color: #ffffff;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}
span{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-enter {
    width: 30px;
    height: 50px;
    margin-left: 10px;
    max-width: 1500px; /* Максимальная ширина контейнера */
    margin: 0 left; /* Центрирование контейнера */
    padding: 5px;
}
.container-logo {
    width: 30px;
    height: 50px;
    margin-left: 10px;
    max-width: 1500px; /* Максимальная ширина контейнера */
    margin: 0 right; /* Центрирование контейнера */
    padding: 5px;
}



/*всё что связано с картинками*/
.logo{
    height: 50px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 10px;
    position: absolute;
    top:10px;
    left: 10px;
}
.logo-image{
    width: 70px;
    height: 50px;
}
.pirate-image{
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-size: contain;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/*стилизация ссылок*/
a:link{
    font-size: 30px;
    color: #ffffff;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color: #606C38;
}



/*стили кнопок*/
.button-container{
    gap: 0px; /* Отступ между кнопками */
    position: relative;
    max-width: 100%;
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    padding: 10px 20px; /* Отступы внутри кнопок */
    border: none; /* Убираем рамку */
    border-radius: 10px; /* Скругление углов */
    cursor: pointer; /* Указатель при наведении */
    box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 1px 5px 5px 0 rgb(0 0 0 / 12%);
}
.btn-outline-primary {
    width: 120px;
    height: 50px;
    padding: 3px;
    font-size: 25px;
    justify-content: center;
    margin: 10px;
    background-color: transparent; /* Прозрачный фон */
    color:rgb(216 205 181 / 30%); /* Цвет текста */
    border: 3px solid rgb(216 205 181 / 25%); /* Рамка */
    transition: 0.7s;
}
.btn-home-primary {
    width: 120px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    font-size: 27px;
    background-color: #707b4b; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    transition:0.5s;
}
.btn-primary {
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: #707b4b; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    transition:0.5s;
}
/* Стили для кнопок при наведении */
.btn-outline-primary:hover {
    background-color: #FEFAE0; /* Цвет фона при наведении */
    color: #707b4b; /* Цвет текста при наведении */
}
.btn-primary:hover {
    background-color: #283618; /* Темнее при наведении */
}
.btn-home-primary:hover {
    background-color: #283618; /* Темнее при наведении */
}
.btn-form-outline:hover {
    background-color: #FEFAE0; /* Цвет фона при наведении */
    color: #ffffff; /* Цвет текста при наведении */
}


/*стили домашней страницы*/
.home-container{
    width: 100%;
    height: auto;
    position: absolute;
    padding: 0;
}
.image-text-container{
  position: relative;
  max-width: 100%;
  width: 580px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px #558abb;
}
.image-button-container{
  position: relative;
  max-width: 100%;
  width: 580px;
  margin: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
.text-overlay {
position: absolute;
top: 100px;
left: 30px;
color: white;
font-size: 28px;
text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/*страница для незарегавшихся*/
.cake-container{
    width: 50%;
    height: auto;
    position: absolute;
    padding: 0;
}





/*не используется*/
/* Стили для навигации */
.nav {
    list-style: none; /* Убираем маркеры списка */
    padding: 1px; /* Убираем отступы */
    margin: 1px; /* Убираем маргины */
    display: flex; /* Используем flexbox для выравнивания */
}
/* Стили для элементов навигации */
.nav li {
    margin: 15px 25px; /* Отступы между элементами навигации */
}
.nav a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
    padding: 10px 1px; /* Отступы внутри ссылок */
    transition: background-color 0.3s; /* Плавный переход для фона */
}
.nav button {
    display: flex;
    align: right;
    vertical-align: center;
    color: #333;
    margin:10px;
    padding: 10px 15px;
    transition: background-color 1s;
}

/* Стили для наведения на ссылки */
.nav a:hover {
    background-color: #e9ecef; /* Цвет фона при наведении */
    border-radius: 5px; /* Скругление углов */
}
/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    .nav {
        flex-direction: column; /* Вертикальное выравнивание для мобильных */
    }

    .nav li {
        margin: 5px 0; /* Отступы между элементами навигации */
    }
}


/*стили для окна входа*/
.form {
    display: flex;
    justify-content: center;
    align-items: center;
  position: relative;
  width: 400px;
  height: auto;
  top: 100px;
  left: 0px;
  z-index: 1;
  background: #f3c99c12;
  margin: auto auto;
  padding: 18px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 6%), 0 5px 5px 0 rgb(0 0 0 / 7%);
}
.form label{
    margin-left: 10px;
    font-size: 20px;
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: #837f7f;
}
.form input {
  outline: 0;
  background: #ffffff29;
  color: #837f7f;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 6%), 0 5px 5px 0 rgb(0 0 0 / 7%);
  font-size: 26px;
}
.btn-form-primary {
    width: 160px;
    height: 52px;
    margin-left: 5px;
    padding: 5px;
    font-size: 28px;
    background: #DDA15E; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    transition:0.5s;
}
.form button {
  cursor: pointer;
}
p{
    height: 80px;
    margin: 20px;
}
p label{
    width: 40px;
}
.link-container{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.register-container{
    margin: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
}
form h4{
    font-size: 16px;
    text-decoration: none;
}



/*стили для окна регистрации*/
.login-page {
  width: 560px;
  padding: 2% 0 0;
  margin: auto;
}
.form-register {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
  position: relative;
  width: 800px;
  height: auto;
  top: 30px;
  left: 0px;
  z-index: 1;
  background: #f3c99c12;
  margin-bottom: 50px;
  padding: 18px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px rgb(0 0 0 / 8%), 0px 3px 3px 3px rgb(0 0 0 / 10%);
}
.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}
.form-register label{
    margin-left: 10px;
    font-size: 20px;
    width: 300px;
    display: flex;
    justify-content: left;
    align-items: left;
    color: #837f7f;
}
.form-register input {
  outline: 0;
  background: #ffffff29;
  color: #837f7f;
  width: 100%;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 6%), 0 5px 5px 0 rgb(0 0 0 / 7%);
  font-size: 26px;
}
.btn-register-primary {
    width: 300px;
    height: 57px;
    padding: 5px;
    font-size: 30px;
    background: #DDA15E; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    transition:0.5s;
}
.btn-register-primary: hover {
    color: #ffffff;
}
.btn-form-outline {
    width: 160px;
    height: 52px;
    padding: 5px;
    font-size: 25px;
    justify-content: center;
    margin: 10px;
    background-color: transparent; /* Прозрачный фон */
    color:rgb(107 146 104 / 50%); /* Цвет текста */
    border-top: 2px solid rgb(216 205 181 / 15%); /* Рамка */
    transition: 0.7s;
}
.btn-form-outline: hover{
    color: #ffffff;
}
input[type = "checkbox"]{
  align-content:
  color: #ca1bc455;
  width: 20px;
  height: 20px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #8b9861;
}
.form a {
    margin: 0px;
    padding: 0px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  color: #77a15a;
}
.form a: hover{
    color: #ffffff;
}
.form message{
    color: #77a15a;
}
.form .register-form {
  display: none;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1 {
    margin: 15px;
}



.forauth-container{
    margin-left: 10px;
    padding: 20px;
    background-color: #DDA15E;
    width: 90%;
    height: auto;
    border-radius: 15px;

}
.forauth-container a{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 350px;
    color: #FF218C;
}
.forauth-container a: hover{
    color: #ffffff;
}
.forauth-container h1{
    margin: 1px;
}