{% extends 'organ/base.html' %}

{% block title %}О нас{% endblock %}

{% block body %}
{% load static %}
<main class="home">
    <div class="home__container">
        <div class="about">

            {% comment %} как по мне эта хуйня не смотрится (то что закомментено) {% endcomment %}
            {% comment %} <h1 class="about__naming">Наггетсы и сырный соус</h1> {% endcomment %}
            {% comment %} <a href="{% url 'dashboard' %}" class="back-button">Назад</a> {% endcomment %}

            <section class="about__team">
                <article class="about__team-member">
                    <img src="{% static 'images/nigger1.jpg' %}" alt="Участник 1" class="about__team-photo">
                    <h2 class="about__team-name">Артём Рудницкий</h2>
                    <p class="about__team-role">Лидер проекта</p>
                    <p class="about__team-description">Координирует работу команды, распределяет задачи и следит за их выполнением.</p>
                </article>

                <article class="about__team-member">
                    <img src="{% static 'images/nigger2.jpg' %}" alt="Участник 2" class="about__team-photo">
                    <h2 class="about__team-name">Игнатова Вероника</h2>
                    <p class="about__team-role">Архитектор проекта</p>
                    <p class="about__team-description">Отвечает за проектирование общей структуры системы или продукта.</p>
                </article>

                <article class="about__team-member">
                    <img src="{% static 'images/nigger3.jpg' %}" alt="Участник 3" class="about__team-photo">
                    <h2 class="about__team-name">Клесов Семен</h2>
                    <p class="about__team-role">Разработчик проекта</p>
                    <p class="about__team-description">Пишет код и реализует функциональность продукта согласно техническому заданию.</p>
                </article>

                <article class="about__team-member">
                    <img src="{% static 'images/nigger4.jpg' %}" alt="Участник 3" class="about__team-photo">
                    <h2 class="about__team-name">Маланин Егор</h2>
                    <p class="about__team-role">Тестировщик</p>
                    <p class="about__team-description">Проверяет качество продукта, выявляет ошибки и недочеты.</p>
                </article>

                <article class="about__team-member">
                    <img src="{% static 'images/nigger5.jpg' %}" alt="Участник 3" class="about__team-photo">
                    <h2 class="about__team-name">Дронов Андрей</h2>
                    <p class="about__team-role">Технический писатель</p>
                    <p class="about__team-description">Создает документацию для продукта: руководства пользователя, технические описания, инструкции.</p>
                </article>
            </section>
        </div>
    </div>
</main>
{% endblock %}
