{% extends 'organ/base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
{% load static %}

<section class="home">
    <div class="home__container">
        <div class="account__container">
            <div class="account__user-info">
                <div class="account__avatar"></div>
                <div>
                    <h1 class="account__title">Здравствуйте, {{ request.user.username }}</h1>
                    <p class="account__meta">Добро пожаловать в ваш личный кабинет</p>
                </div>
            </div>
    
            <div class="account__actions">
                <div class="account__redirect">
                    <form action="{% url 'tasks' %}">
                        <button type="submit" class="account__button">Перейти в ваши задачи</button>
                    </form>
                    <form action="{% url 'calendar' %}">
                        <button type="submit" class="account__button">Перейти в календарь</button>
                    </form>
                </div>
    
                <button id="deleteAccountButton" type="button" class="account__button">
                    Удалить аккаунт
                </button>
            </div>
    
            {% include 'organ/popup_confirm.html' %}
        </div>
    </div>
</section>

{% endblock %}
