{% extends 'organ/base.html' %}

{% block title %}Вход в аккаунт{% endblock %}

{% block body %}
{% load static %}
<section class="home">
    <div class="home__container">
        <form method="post" id="login-form" onsubmit="return handleLoginSubmit(event)">
            {% csrf_token %}
            <div class="form">
                <div class="form-input">
                    <h2 class="form-title">Вход в аккаунт</h2>

                    <div class="input-container">
                        {{ form.username }}
                        <label for="id_username" class="placeholder">Логин</label>
                    </div>

                    <div class="input-container password-container">
                        {{ form.password }}
                        <label for="id_password" class="placeholder">Пароль</label>
                        <span class="toggle-password" onclick="togglePassword()">
                            👁
                        </span>
                    </div>

                    <div class="input-container captcha-container">
                        {{ form.captcha }}
                        {{ form.captcha.errors }}
                    </div>

                    <div class="button-container">
                        <button type="submit" class="btn btn-form-primary">Войти</button>
                        <p id="password-check-result"></p>
                    </div>

                    <div class="link-container">
                        <h4>Ещё нет аккаунта?</h4>
                        <a href="{% url 'auth_register' %}" class="register-link" data-transition="slide">Зарегистрируйтесь</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script src="{% static "components.js/loginAjax.js" %}"></script>

<script src="{% static "components.js/replace-placeholder.js" %}"></script>
<script src="{% static 'components.js/auth_eye.js' %}"></script>

{% endblock %}
