{% extends 'organ/base.html' %}

{% block title %}Установка нового пароля{% endblock %}

{% block body %}
{% load static %}
<section class="home">
    <div class="home__container">
        <form method="post">
            {% csrf_token %}
            <div class="form">
                <div class="form-input" style="max-width: 400px; margin: 0 auto; padding: 2rem;">
                    <h2 class="form-title">Установка нового пароля</h2>
                    
                    {% if message %}
                    <div class="info-message">
                        {{ message }}
                    </div>
                    {% endif %}

                    {% if form.password1.errors %}
                    <div class="error-message">
                        {% for error in form.password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if form.password2.errors %}
                    <div class="error-message">
                        {% for error in form.password2.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <p class="form-description">Придумайте новый надежный пароль</p>

                    <div class="input-container" style="max-width: 400px; margin: 0 auto;">
                        {{ form.password1 }}
                        <label for="id_password1" class="placeholder">Новый пароль</label>
                    </div>

                    <div class="input-container" style="max-width: 400px; margin: 0 auto;">
                        {{ form.password2 }}
                        <label for="id_password2" class="placeholder">Подтверждение пароля</label>
                    </div>

                    {% if form.non_field_errors %}
                    <div class="error-message">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="button-container">
                        <button type="submit" class="btn btn-form-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %} 