@import '../vendor/index';
@import '../components/page';

@import '../common/buttons';
@import '../common/images';
@import '../common/forms';
@import '../common/popup-confirm.scss';

@import '../components/header';
@import '../components/hero';
@import '../components/home';
@import '../components/auth';
@import '../components/about';

#shader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
