.hero {
  display: flex;
  gap: 20px;
  width: 100%;
}

.hero__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--text-color);
  padding: 40px;
  background-color: var(--base-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.hero__tags-container {
  display: flex;
  flex-direction: row;
  margin-block-end: 20px;
  gap: 20px;
  color: var(--text-alternative-color);
}

.hero__tag {
  padding: 10px 20px;
  border: 1px solid var(--text-alternative-color);
  background-color: black;
  color: white;
  border-radius: var(--border-radius);
  transition: border-color var(--transition), 
              background-color var(--transition),
              color var(--transition),
              transform var(--transition);
}

.hero__tag:hover {
  border-color: #000000;
  cursor: pointer;
  background-color: white;
  color: black;
  transform: rotateX(360deg);
}

.hero__title {
  font-size: var(--global-title-size);
  color: var(--text-alternative-color);
  margin-block-end: 20px;
}

.hero__text {
  font-size: 1.5rem;
  margin-bottom: 100px;
  color: var(--text-alternative-color);
}

.hero__buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.hero__button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color var(--transition);
}

.hero__button--primary {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid #000;
}

.hero__button--primary:hover {
  background-color: var(--text-color);
  color: var(--text-alternative-color);
}

.hero__button--outline {
  background-color: transparent;
  border: 1px solid var(--text-alternative-color);
  color: var(--text-alternative-color);
}

.hero__button--outline:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.hero__container-img {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
}

.hero__container-img a article {
  flex: 1;
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  transition: transform 0.3s ease;
}

.hero__container-img a article:hover {
  transform: scaleX(1.2);
  z-index: 2;
}

.hero__container-img a article:not(:hover) {
  transform: scaleX(0.9);
}

.hero__container-link {
  height: 728px;
  width: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform var(--transition), filter var(--transition);
}

.hero__container-img a article:hover .hero__container-link {
  filter: blur(50px);
}

.hero__container-img article::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
}

.hero__container-img a article div:hover {
  filter: blur(120px);
}

.hero__container-img a:first-child article::after {
  content: "Задачи";
}

.hero__container-img a:nth-child(2) article::after {
  content: "Календарь";
}

.hero__container-img a:last-child article::after {
  content: "О нас";
}

.hero__container-img article:hover::after {
  right: 0;
}

.task-list {
  background-color: #42aaff;
  background-image: url(../images/list-task.jpg);
}

.task-calendar {
  background-color: #ffc0cb;
  background-image: url(../images/calendar.jpg);
}

.about-us {
  background-color: #008000;
  background-image: url(../images/scale_1200.jpg);
}

@media (max-width: 1377px) {
  .hero {
    flex-direction: column;
  }

  .hero__container-img {
    flex-direction: column;
    gap: 20px;
  }

  .hero__container-img article {
    width: 100%;
  }

  .hero__container-link {
    width: 100%;
    height: 400px;
  }

  .hero__container-img article::after {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    right: 0;
    top: -100%;
    transition: top 0.3s ease;
  }

  .hero__container-img article:hover::after {
    top: 0;
  }
}

@media (max-width: 768px) {
  .home {
    min-height: 68vh;
  }

  .hero__content {
    block-size: 40vh;
  }

  .hero__text {
      font-size: 1.2rem;
      margin-bottom: 20px;
  }

  .hero__button {
      font-size: 0.9rem;
      padding: 8px 16px;
  }

  .hero__container-img a article:hover {
    transform: scaleX(1.2);
  }

  .hero__container-img a article:not(:hover) {
    transform: scaleX(0.9);
  }
}

@media (max-width: 480px) {

  .hero__tags-container {
    flex-direction: column;
    gap: 5px;
  }

  .hero__tag {
    padding: 5px 10px;
    text-align: center;
  }

  .hero__text {
      font-size: 1rem;
  }

  .hero__buttons {
      flex-direction: column;
      gap: 10px;
  }

  .hero__button {
      width: 100%;
  }
}
