.home {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  padding: 20px;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text-color);
  text-align: center;
  block-size: 65vh;
  background-image: url(../images/пират.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
}

.hero__text {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
}

.hero__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.hero__button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color var(--transition);
}

.hero__button--primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.hero__button--primary:hover {
  background-color: var(--primary-hover-color);
}

.hero__button--outline {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.hero__button--outline:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .home {
    min-height: 68vh;
  }

  .hero__content {
    block-size: 40vh;
    border-radius: 50px;
  }

  .hero__text {
      font-size: 1.2rem;
  }

  .hero__button {
      font-size: 0.9rem;
      padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .hero__text {
      font-size: 1rem;
  }

  .hero__buttons {
      flex-direction: column;
      gap: 10px;
  }

  .hero__button {
      width: 100%;
  }
}
