.home {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.hero {
  display: flex;
  gap: 20px;
  
  width: 100%;
  max-width: var(--mx-size-page);
}

.hero__content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  color: var(--text-color);
  /* text-align: center; */
  padding: 40px;
  background-color: var(--base-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.hero__title {
  font-size: var(--global-title-size);
  color: var(--text-alternative-color);
  margin-block-end: 20px;
}

.hero__text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--text-alternative-color);
}

.hero__buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.hero__button {
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color var(--transition);
}

.hero__button--primary {
  background-color: var(--primary-color);
  color: var(--text-alternative-color);
}

.hero__button--primary:hover {
  background-color: var(--primary-hover-color);
}

.hero__button--outline {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.hero__button--outline:hover {
  background-color: var(--primary-color);
  color: var(--text-alternative-color);
}

.hero__container-img {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero__container-link {
  height: 728px;
  width: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.task-list {
  background-color: #42aaff;
  background-image: url(../images/list-task.jpg);
}

.task-calendar {
  background-color: #ffc0cb;
  background-image: url(../images/calendar.jpg);
}

.about-us {
  background-color: #008000;
  background-image: url(../images/scale_1200.jpg);
}

@media (max-width: 768px) {
  .home {
    min-height: 68vh;
  }

  .hero__content {
    block-size: 40vh;
    border-radius: 50px;
  }

  .hero__text {
      font-size: 1.2rem;
  }

  .hero__button {
      font-size: 0.9rem;
      padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .hero__text {
      font-size: 1rem;
  }

  .hero__buttons {
      flex-direction: column;
      gap: 10px;
  }

  .hero__button {
      width: 100%;
  }
}
