/* 
 * @import url(https://fonts.googleapis.com/css?family=Roboto:300);
 * нелья так подключать шрифты, если интересно почему почитай про CRP в браузере
 */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f5e5;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.container {
    margin-left: 10px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 5px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #606C38;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
